.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  min-width: 250px;
  max-width: 350px;
  margin: $margin-1;
  padding-bottom: $padding-4;

  img {
    border-bottom: 0.25rem solid $colour-red;
    max-width: 100%;
  }

  h5 {
    padding: $padding-1 0;
  }

  p {
    color: $colour-grey-dark;
    padding-bottom: $padding-1;
  }

  a {
    color: $colour-white;
    text-transform: uppercase;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid $colour-red;
    font-weight: $font-weight-semi-bold;
  }

  a:hover {
    color: $colour-red;
    transition: ease-in 0.2s;
  }
}
