@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

//COLOURS

$colour-red: #cf1430;
$colour-white: #ffffff;
$colour-background: #0e1414;
$colour-grey-dark: #c2c2c2;
$colour-grey-light: #f0f0f0;

// FONTS

$font-family: "Open Sans", sans-serif;
$font-weight-light: 300;
$font-weight-semi-bold: 600;
$font-line-height: 1.875rem;

$font-size: 16px;
$bold-size: 1.125rem;
$header-two: 2.625rem;
$header-three: 1.65rem;
$header-five: 1.125rem;

// PADDING

//placeholders - may change as I build

$padding-top: 8rem;
$padding-bot: 8rem;
$padding-left: 0;
$padding-right: 0;

//MARGIN

$margin-section: 10rem;
