@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

//COLOURS

$colour-red: #cf1430;
$colour-white: #ffffff;
$colour-background: #0e1414;
$colour-grey-dark: #c2c2c2;
$colour-grey-light: #f0f0f0;

// FONTS

$font-family: "Open Sans", sans-serif;
$font-weight-light: 300;
$font-weight-semi-bold: 600;
$font-line-height: 1.875rem;

$font-size: 16px;
$bold-size: 1.125rem;
$header-two: 2.625rem;
$header-three: 1.65rem;
$header-five: 1.125rem;

// PADDING

//placeholders - may change as I build

$padding-1: 1rem;
$padding-2: 2rem;
$padding-3: 3rem;
$padding-4: 4rem;
$padding-5: 5rem;
$padding-6: 6rem;
$padding-7: 7rem;
$padding-8: 8rem;

//MARGIN

$margin-1: 1rem;
$margin-section: 10rem;
