@import "./_variables";
@import "./_cards";
@import "./_responsive";
@import "./_modal";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: $font-family;
  font-size: $font-size;
  box-sizing: border-box;
  font-weight: $font-weight-light;
}

//Elements

h1,
h2 {
  font-size: $header-two;
  text-transform: uppercase;
  color: $colour-white;
  text-align: center;
  font-weight: $font-weight-light;
  padding-bottom: 4rem;
}

h3 {
  font-size: $header-three;
  text-transform: uppercase;
  color: $colour-white;
  letter-spacing: 0.5px;
  font-weight: $font-weight-light;
}

h4 {
  //Be Mindful Header
  color: $colour-red;
  text-transform: uppercase;
  font-weight: $font-weight-semi-bold;
}

h5 {
  font-size: $header-five;
  font-weight: $font-weight-semi-bold;
  color: $colour-white;
}

p {
  line-height: $font-line-height;
}

section {
  margin: $margin-section 0;
}

//Classes

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  background-color: $colour-background;
  padding: 0 $padding-right 0 $padding-left;
}

.semi-bold {
  font-weight: $font-weight-semi-bold;
}

.font-large {
  font-size: $bold-size;
}

.text-white {
  color: $colour-white;
}

.text-grey {
  color: $colour-grey-dark;
}

.padding-bottom {
  padding-bottom: 1rem;
}

.ingredients {
  line-height: 1.875rem;
  letter-spacing: 0;
  padding: 3rem 0;
}

.flex {
  display: flex;
}

.flex-child-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem;
  max-width: 400px;
}

.flex-child-text {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.line {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  margin-top: 1rem;
  height: 1px;
  width: 100%;
  background-color: #ffffff;
}
